**
!LICENSE
!docker/
!docker/Dockerfile
!docker/requirements.txt
!docker/requirements-cuda.txt
!src/
!src/__init__.py
!src/config.py
!src/solution/
!src/solution/*.py
!src/solution/LICENSE.medimageinsight
!src/utils/
!src/utils/prepare_model.py
!src/utils/prepare_segmentation.py
!models/
!models/radiance/
!models/radiance/*.json
!models/radiance/README.md
!models/radiance/member_0/
!models/radiance/member_1/
!models/radiance/member_*/model.json
!models/radiance/member_*/encoder.pt
!models/radiance/licenses/
!models/radiance/licenses/*
!models/anatomy/
!models/anatomy/*
