**
!LICENSE
!docker/
!docker/Dockerfile
!docker/requirements.txt
!docker/requirements-cuda.txt
!src/
!src/__init__.py
!src/config.py
!src/solution/
!src/solution/*.py
!src/solution/LICENSE.medimageinsight
!src/utils/
!src/utils/prepare_model.py
!models/
!models/e5/
!models/e5/*.json
!models/e5/README.md
!models/e5/member_0/
!models/e5/member_1/
!models/e5/member_*/model.json
!models/e5/member_*/encoder.pt
!models/e5/licenses/
!models/e5/licenses/*
